
h1, 
h3,
.list,
.image,
p {
  text-align: center; 
}


h1 {
  font-size: 36px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  background-color: orangered;
  
}


h3 {
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
  text-align: center;
}